# Add files here to ignore them from prettier formatting

**/dist
**/node_modules
**/*.png
**/.eslintignore
**/.gitignore
**/.idea
**/.prettierignore
.yarn
yarn.lock
bun.lockb
.nvmrc
**/coverage
**/*/.gitkeep
**/*/.browserslistrc
**/*/*.ico
**/*/*.svg
yarn-error.log
**/docker/templates/*
